<hello name="Ad Mad Kids"></hello>
<p>AdMadKids - Fun Time - Play Time - Learning time</p>
<p>Passion to Teach Kids</p>
<p>We Train Kids to learn by themselves</p>
<p>Research Based Methods to reduce learning time</p>
<p>More discussion in games topics and learning is in built</p>
<p>
  Very Reliable teachers - Cherry picked from your area or if you like another
  teacher from different state, that option is available as well
</p>
<Button> Skills Based Search </Button>
<Button> Grade Based Search </Button>
